<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td><b>Jumlah Naskah</b></td>
        <td>:</td>
        <td>{{ jumlah_submisi }}</td>
    </tr>
    <tr>
        <td> - Umum (Individu)</td>
        <td>:</td>
        <td>{{ kategori_umum_indiv }}</td>
    </tr>
    <tr>
        <td> - Umum (Tim)</td>
        <td>:</td>
        <td>{{ kategori_umum_tim }}</td>
    </tr>
    <tr>
        <td>- Mahasiswa (Individu)</td>
        <td>:</td>
        <td>{{ kategori_mhs_indiv }}</td>
    </tr>
    <tr>
        <td> - Mahasiswa (Tim)</td>
        <td>:</td>
        <td>{{ kategori_mhs_tim }}</td>
    </tr>
</table>

<h5 class="mt-3">Penjurian</h5>
<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td><b>Naskah Eligible</b></td>
        <td>:</td>
        <td>{{ naskah_eligible }}</td>
    </tr>
    <tr>
        <td><b>Jumlah Juri</b></td>
        <td>:</td>
        <td>{{ jumlah_juri }}</td>
    </tr>
    <tr>
        <td><b>Jumlah Juri Selesai Menilai</b></td>
        <td>:</td>
        <td>{{ juri_selesai }} ({{ progress_juri }}%)</td>
    </tr>
</table>