<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td><b>Jumlah Naskah</b></td>
        <td>:</td>
        <td>{{ jumlah_submisi }}</td>
    </tr>
    <tr>
        <td> - Umum (Individu)</td>
        <td>:</td>
        <td>{{ kategori_umum_indiv }}</td>
    </tr>
    <tr>
        <td> - Umum (Tim)</td>
        <td>:</td>
        <td>{{ kategori_umum_tim }}</td>
    </tr>
    <tr>
        <td>- Mahasiswa (Individu)</td>
        <td>:</td>
        <td>{{ kategori_mhs_indiv }}</td>
    </tr>
    <tr>
        <td> - Mahasiswa (Tim)</td>
        <td>:</td>
        <td>{{ kategori_mhs_tim }}</td>
    </tr>
</table>

<h5 class="mt-3">Penjurian</h5>
<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td><b>Naskah Eligible</b></td>
        <td>:</td>
        <td>{{ naskah_eligible }}</td>
    </tr>
    <tr>
        <td><b>Jumlah Juri Aktif</b></td>
        <td>:</td>
        <td>{{ jumlah_juri }}</td>
    </tr>
    <tr>
        <td><b>Jumlah Juri Selesai Menilai</b></td>
        <td>:</td>
        <td>{{ juri_selesai }} ({{ progress_juri|floatformat:'2u'|default:0 }}%)</td>
    </tr>
</table>
<h5 class="mt-3">Detail Progress Juri</h5>
<table class="table table-sm" style="width: 900px; max-width: 80vw;">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Naskah ditugaskan</th>
            <th>Naskah selesai dinilai</th>
        </tr>
    </thead>
    <tbody>
        {% for j in juris %}
        <tr>
            <td>{{ j.nama }}</td>
            <td>{{ j.penilaian_ditugaskan }}</td>
            <td>{{ j.penilaian_selesai }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>