<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td><b>Jumlah Naskah</b></td>
        <td>:</td>
        <td>{{ jumlah_submisi }}</td>
    </tr>
    <tr>
        <td> - Umum (Individu)</td>
        <td>:</td>
        <td>{{ kategori_umum_indiv }}</td>
    </tr>
    <tr>
        <td> - Umum (Tim)</td>
        <td>:</td>
        <td>{{ kategori_umum_tim }}</td>
    </tr>
    <tr>
        <td>- Mahasiswa (Individu)</td>
        <td>:</td>
        <td>{{ kategori_mhs_indiv }}</td>
    </tr>
    <tr>
        <td> - Mahasiswa (Tim)</td>
        <td>:</td>
        <td>{{ kategori_mhs_tim }}</td>
    </tr>
</table>

<h5 class="mt-3">Penjurian Tahap 1</h5>
<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td>Jumlah Naskah Lolos ke Tahap 1</td>
        <td>:</td>
        <td>404</td>
    </tr>
</table>

<h5 class="mt-3">Penjurian Tahap 2</h5>
<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td>Jumlah Naskah Lolos ke Tahap 2</td>
        <td>:</td>
        <td>-</td>
    </tr>
</table>

<h5 class="mt-3">Penjurian Tahap 3</h5>
<table class="table table-sm table-borderless" style="width: 500px; max-width: 80vw;">
    <tr>
        <td><b>Jumlah Naskah Lolos ke Tahap 3</b></td>
        <td>:</td>
        <td>21</td>
    </tr>
    <tr>
        <td><b>Jumlah Naskah dengan PPT Lengkap</b></td>
        <td>:</td>
        <td>{{ naskah_tahap3_lengkap }}</td>
    </tr>
    <tr>
        <td><b>Jumlah Juri Aktif</b></td>
        <td>:</td>
        <td>{{ jumlah_juri }}</td>
    </tr>
    <tr>
        <td><b>Jumlah Juri Selesai Menilai</b></td>
        <td>:</td>
        <td>{{ juri_selesai }} ({{ progress_juri|floatformat:'2u'|default:0 }}%)</td>
    </tr>
</table>
<h5 class="mt-3">Detail Progress Juri</h5>
<div style="overflow-x: auto;">
    <table class="table table-sm" style="width: 900px; max-width: 80vw;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nama</th>
                <th>Username</th>
                <th class="text-center">Naskah ditugaskan</th>
                <th class="text-center">Naskah selesai dinilai</th>
                <th class="text-center">Selesai</th>
            </tr>
        </thead>
        <tbody>
            {% for j in juris %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ j.nama|default:'-' }}</td>
                <td>{{ j.username|default:'-' }}</td>
                <td class="text-center">{{ j.penilaian_ditugaskan }}</td>
                <td class="text-center">{{ j.penilaian_selesai }}</td>
                <td class="text-center">{% if j.penilaian_ditugaskan == 0 %}-{% elif j.selesai %}Sudah{% else %}<span class="text-warning">Belum</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>