{% load static %}
<!-- Primary Meta Tags -->
<meta name="title" content="SiBijaKs Awards 2024" />
<meta name="description" content="SiBijaKs (Rekomendasi Kebijakan Kesehatan) Awards 2024 adalah kompetisi penulisan rekomendasi kebijakan kesehatan dengan data Survei Kesehatan Indonesia (SKI) tahun 2023 sebagai sumber data utama." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://lombapb.bkpk.kemkes.go.id/" />
<meta property="og:title" content="SiBijaKs Awards 2024" />
<meta property="og:description" content="SiBijaKs (Rekomendasi Kebijakan Kesehatan) Awards 2024 adalah kompetisi penulisan rekomendasi kebijakan kesehatan dengan data Survei Kesehatan Indonesia (SKI) tahun 2023 sebagai sumber data utama." />
<meta property="og:image" content="https://lombapb.bkpk.kemkes.go.id{% static 'img/banner-mobile1.png' %}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://lombapb.bkpk.kemkes.go.id/" />
<meta property="twitter:title" content="SiBijaKs Awards 2024" />
<meta property="twitter:description" content="SiBijaKs (Rekomendasi Kebijakan Kesehatan) Awards 2024 adalah kompetisi penulisan rekomendasi kebijakan kesehatan dengan data Survei Kesehatan Indonesia (SKI) tahun 2023 sebagai sumber data utama." />
<meta property="twitter:image" content="https://lombapb.bkpk.kemkes.go.id{% static 'img/banner-mobile1.png' %}" />
