{% extends 'hp_awards/BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Submisi{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Submisi</h1>
    <h3>"{{ submisi.judul_pb }}"</h3>
    <div class="row my-5">
        <div class="col">
            <dl>
                <dt>Status</dt>
                <dd><span class="badge text-bg-info">{{ submisi.get_status_display }}</span></dd>
        
                <dt>Waktu submisi</dt>
                <dd>{{ submisi.created_at|date:'d-m-Y, H:m' }}</dd>
        
                <dt>Pendidikan</dt>
                <dd>{{ submisi.get_pendidikan_display }}</dd>
        
                <dt>Kategori</dt>
                <dd>{{ submisi.get_kategori_pendaftar_display }}</dd>
        
                <dt>Policy Questions</dt>
                <dd>
                    {{ submisi.policy_question }}
                    {% if submisi.policy_question.id == 1 %}
                    : {{ submisi.policy_question_custom }}
                    {% endif %}
                </dd>
            </dl>
        </div>
        <div class="col">
            <b>Pasfoto:</b><br>
            <img src="{{ submisi.swafoto.url }}" style="width: 192px;">
        </div>
    </div>
    <section class="my-5">
        <h2>Abstrak</h2>
        <div>
            {{ submisi.abstrak_pb|safe }}
        </div>
    </section>
    <section class="my-5">
        <h2>Kolaborator</h2>
        {% if not submisi.kolaborators.exists %}
        Kategori individu (Peserta tunggal)
        {% else %}
        <table class="table table-sm my-3" style="max-width: 640px;">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No. WA</th>
                </tr>
            </thead>
            <tbody>
                {% for k in submisi.kolaborators.all %}
                <tr>
                    <td>{{ k.nama }}</td>
                    <td>{{ k.email }}</td>
                    <td>{{ k.wa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
    <hr class="hr-kemkes">
    {% if request.user.is_staff and form_penugasan_juri and submisi.status != submisi_class.GUGUR %}
    <section id="assign-reviewer" class="my-5">
        <div class="row">
            <div class="col-md-10">
                <h2>Tugaskan Juri/Reviewer</h2>
                <form method="POST" action="{% url 'hp_awards:set_reviewer' submisi.kode_submisi %}">
                    {% csrf_token %}
                    {% bootstrap_form form_penugasan_juri %}
                    <button class="btn btn-kemkes" type="submit">Tetapkan</button>
                </form>
            </div>
            <div class="col-md-2" style="position: relative;">
                <form method="POST" action="{% url 'hp_awards:set_gugur' %}" style="position: absolute; bottom: 1%;">
                    {% csrf_token %}
                    <input type="hidden" name="kode_submisi" value="{{ submisi.kode_submisi }}">
                    <button class="btn btn-danger" type="submit">Gugurkan Submisi</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <h5>Daftar Seluruh Juri yang Tersedia di Sistem</h5>
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Jabatan</th>
                    <th>Instansi</th>
                    <th>Kategori Juri</th>
                    <th>Kepakaran</th>
                    <th>Submisi Ditugaskan</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reviewers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ r.nama }}</td>
                    <td>{{ r.jabatan }}</td>
                    <td>{{ r.instansi }}</td>
                    <td>{{ r.get_kategori_display }}</td>
                    <td>{{ r.kepakaran|default:'-' }}</td>
                    <td>{{ r.submisis.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('#id_reviewers').select2();
    });
</script>
{% endblock %}