{% extends 'hp_awards/BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Submisi{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Submisi</h1>
    <h3>"{{ submisi.judul_pb }}"</h3>
    <div class="row my-5">
        <div class="col">
            <dl>
                <dt>Status</dt>
                <dd><span class="badge text-bg-info">{{ submisi.get_status_display }}</span></dd>
        
                <dt>Waktu submisi</dt>
                <dd>{{ submisi.created_at|date:'d-m-Y, H:m' }}</dd>
        
                {% if submisi.kategori_pendaftar == 'umum' %}
                <dt>Pendidikan</dt>
                <dd>{{ submisi.get_pendidikan_display }}</dd>
                {% endif %}
        
                <dt>Kategori</dt>
                <dd>{{ submisi.get_kategori_pendaftar_display }}</dd>

                {% if submisi.kategori_pendaftar == 'umum' %}
                <dt>Profesi</dt>
                <dd>{{ submisi.pekerjaan|default:'-' }}</dd>
                {% endif %}

                <dt>{% if submisi.kategori_pendaftar == 'umum' %}Institusi / Organisasi
                    {% else %}Universitas
                    {% endif %}</dt>
                <dd>{{ submisi.afiliasi|default:'-' }}</dd>
        
                <dt>Policy Questions</dt>
                <dd>
                    {{ submisi.policy_question }}
                    {% if submisi.policy_question.id == 1 %} :<br>
                    {{ submisi.policy_question_custom }}
                    {% endif %}
                </dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                {% if submisi.swafoto %}
                <dt>Pasfoto</dt>
                <dd><img src="{{ submisi.swafoto.url }}" style="width: 192px;"></dd>
                {% endif %}
                
                {% if not submisi.kategori_pendaftar == 'umum' %}
                <dt class="mt-3">KTM / Surket Mahasiswa</dt>
                <dd>{% if submisi.ktm %}Sudah diunggah{% endif %}</dd>
                {% endif %}
            </dl>            
        </div>
    </div>
    <section class="my-5">
        <h2>Abstrak</h2>
        <div>
            {{ submisi.abstrak_pb|safe }}
        </div>
    </section>
    <section class="my-5">
        <h2>Kolaborator</h2>
        {% if not submisi.kolaborators.exists %}
        Kategori individu (Peserta tunggal)
        {% else %}
        <table class="table table-sm my-3" style="max-width: 640px;">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No. WA</th>
                </tr>
            </thead>
            <tbody>
                {% for k in submisi.kolaborators.all %}
                <tr>
                    <td>{{ k.nama }}</td>
                    <td>{{ k.email }}</td>
                    <td>{{ k.wa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
    <hr class="hr-kemkes">
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('#id_reviewers').select2();
    });
</script>
{% endblock %}