{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Beranda{% endblock %}

{% block head_bl %}
<style>
    #div-banner-mobile {
        display: none;
    }

    /* Mobile screen */
    @media screen and (max-width: 768px) {
        #div-banner-mobile {
            display: block;
        }
        #div-banner-desktop {
            display: none;
        }

        #countdown-nomobile {
            display: none;
        }
    }
</style>
{% endblock %}

{% block body_bl %}
<div id="div-banner-desktop">
    <img id="banner-desktop" src="{% static 'img/banner10.png' %}" style="width: 100vw;">
</div>
<div id="div-banner-mobile">
    <img id="banner-mobile" src="{% static 'img/banner-mobile2.png' %}" style="width: 100vw;">
</div>
<div class="container mb-5">
    <section id="2" class="mt-5 mb-5">
        <div class="d-flex justify-content-center">
            <!-- <a class="btn btn-sm btn-outline-kemkes mx-3" href="{% url 'hp_awards:syarat_peserta' %}">Ketentuan Peserta</a> -->
            <a target="_blank" class="btn btn-sm btn-outline-kemkes mx-3"
                href="https://drive.google.com/file/d/1K3m5kTKHjE8ewso1TMW1BYAZ6AxrbE1i/view?usp=drive_link"><span class="fs-4">Unduh
                    Pedoman</span></a>
            <!-- <a class="btn btn-sm btn-outline-kemkes mx-3" href="{% url 'hp_awards:policy_questions' %}"><i>Policy Questions</i></a> -->
        </div>
        <p class="text-center"></p>
    </section>
    <section class="mt-4 mb-5">
        <p class="text-center color-kemkes fs-2" style="font-weight: 600;">
            Penilaian abstrak sedang berlangsung
        </p>
        {% comment %}
        <div class="text-center">
            <a href="{% url 'hp_awards:registrasi' %}" class="d-block color-kemkes fs-1" style="font-weight: 700;">Daftar Sekarang</a>
        </div>
        {% endcomment %}
    </section>
    {% comment %}
    <section id="countdown">
        <h3 class="color-kemkes text-center">Batas Akhir Pengiriman Abstrak</h3>
        <p class="text-center mb-3">diperpanjang sampai dengan<br><b>21 Juli 2024 pukul 23.59 WIB</b></p>
        <div id="countdown-nomobile">
            <script>(function (d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
            <a data-type="countdown" data-id="5515909" class="tickcounter"
                style="display:block; left:0; width:720px; max-width: 90vw; height:0; position:relative; padding-bottom:10%; margin:0 auto;"
                title="My countdown" href="//www.tickcounter.com/">Batas akhir pengiriman abstrak</a>
        </div>
    </section>
    {% endcomment %}
    <section class="my-5">
        <h2 class="text-center color-kemkes">Apa itu SiBijaKs?</h2>
        <hr class="hr-kemkes">
        Rekomendasi Kebijakan Kesehatan (SiBijaKs) Awards 2024 adalah kompetisi penulisan rekomendasi kebijakan 
        kesehatan dengan data Survei Kesehatan Indonesia (SKI) tahun 2023 sebagai sumber data utama.
        <div class="text-center">
            <a class="color-kemkes" data-bs-toggle="collapse" href="#extTentang">Lebih lengkap</a>
        </div>
        <div class="mt-3 collapse" id="extTentang">
            <p>
                Bentuk rekomendasi kebijakan dalam kompetisi ini berupa Risalah Kebijakan (Policy brief). 
                Policy brief adalah tulisan ilmiah yang ringkas dan berfokus pada isu kebijakan tertentu serta menawarkan alternatif solusi atas permasalahan kebijakan yang membutuhkan perhatian cepat dari pembuat kebijakan.
            </p>
            <p>Tema SiBijaKs Awards 2024 adalah <b class="color-kemkes">Pemanfaatan Data SKI 2023 untuk Rekomendasi Kebijakan Kesehatan menuju Indonesia Emas 2045</b></p>
        </div>
    </section>
    <section class="my-5">
        <h2 class="text-center color-kemkes">Ketentuan Peserta</h2>
        <hr class="hr-kemkes">
        <ol class="mt-3 ol-syarat">
            <li>SiBijaKs Awards 2024 terbuka untuk umum yaitu analis kebijakan, administrator kesehatan, peneliti,
                akademisi, mahasiswa, pengambil keputusan, pemangku kepentingan dan pemerhati bidang kesehatan;</li>
            <li>Tidak berstatus sebagai pegawai pada unit utama Kementerian Kesehatan;</li>
            <li>Peserta dapat mendaftar secara perorangan atau tim (jumlah anggota tidak dibatasi);</li>
            <li>Kategori peserta:
                <ol type="a">
                    <li>Kategori 1 : Mahasiswa (S1 dan S2)</li>
                    <li>Kategori 2 : Umum</li>
                </ol>
            </li>
            <li>Peserta dapat mengirimkan lebih dari satu abstrak;</li>
            <li>Peserta yang melakukan registrasi adalah penulis utama;</li>
            <li>Peserta yang sudah terdaftar tidak dapat digantikan atau diwakilkan.</li>
        </ol>
    </section>
    <section id="section-jadwal" class="my-5">
        <h2 class="text-center color-kemkes">Jadwal</h2>
        <hr class="hr-kemkes">
        <div class="d-flex justify-content-center">
            <!-- <img src="{% static 'img/jadwal.png' %}" style="width: 35%; max-width: 80vw; height: auto;"> -->
            <table class="table table-sm table-borderless" style="max-width: 640px;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Kegiatan</th>
                        <th>Waktu Pelaksanaan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Pengumuman pelaksanaan kompetisi</td>
                        <td>12 Juni 2024</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Pendaftaran dan pengiriman abstrak</td>
                        <td>13 Juni - 21 Juli 2024</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Seleksi administrasi dan abstrak</td>
                        <td>22 Juli - 29 Juli 2024</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Pengumuman lolos seleksi Tahap I</td>
                        <td>3 Agustus 2024</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Pengiriman naskah <i>policy brief</i> lengkap</td>
                        <td>4-31 Agustus 2024</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Pengumuman lolos seleksi Tahap II</td>
                        <td>6 September 2024</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Pengiriman bahan presentasi</td>
                        <td>7-14 September 2024</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Presentasi <i>policy brief</i></td>
                        <td>17-18 September 2024</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Penilaian Tahap III dan penetapan pemenang</td>
                        <td>19-20 September 2024</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Pemberian penghargaan</td>
                        <td>Minggu IV September 2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="section-tahapan" class="my-5">
        <h2 class="text-center color-kemkes">Tahapan Penilaian Kompetisi</h2>
        <hr class="hr-kemkes">
        <div class="d-flex justify-content-center">
            <table class="table table-borderless" style="max-width: 400px;">
                <thead>
                    <tr>
                        <th class="text-center">Tahap</th>
                        <th>Penilaian</th>
                        <!-- <th>Penilai</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <td class="text-center">I</td>
                       <td>Abstrak</td>
                       <!-- <td>Panitia</td> -->
                    </tr>
                    <tr>
                        <td class="text-center">II</td>
                        <td>Naskah <i>Policy Brief</i></td>
                        <!-- <td>Tim pakar sesuai substansi</td> -->
                     </tr>
                     <tr>
                        <td class="text-center">III</td>
                        <td>Presentasi</td>
                        <!-- <td>Pejabat Kementerian Kesehatan, SKM, LAN, Bappenas, Diaspora</td> -->
                     </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- <section id="4" class="my-5">
        <h2 class="text-center color-kemkes">Dasar Hukum</h2>
        <hr class="hr-kemkes">
        <div class="text-center">
            <p class="">Perpres Nomor 18 Tahun 2021 Tentang Kementerian Kesehatan</p>
            <p class="">Permenkes Nomor 5 Tahun 2022 tentang SOTK Kementerian Kesehatan</p>
            <p class="">Permenkes Nomor 18 Tahun 2022 tentang Penyelenggaraan Satu Data Bidang Kesehatan Melalui Sistem Informasi Kesehatan</p>
            <p class="">Peraturan Kepala LAN RI Nomor 28 Tahun 2017 Tentang Pedoman Penulisan Karya Tulis Ilmiah Bagi Analis Kebijakan</p>
        </div>
    </section> -->
</div>
{% endblock %}