{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Beranda{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1 class="text-center" style="font-weight: 700;">Health Policy Awards 2024</h1>
    <p class="text-center fs-2">Badan Kebijakan Pembangunan Kesehatan</p>
    <!-- <img src="{% static 'img/dummy.png' %}" height="400px"> -->
    <section id="1" class="my-5">
        <h2 class="text-center color-kemkes">Topik</h2>
        <hr class="hr-kemkes">
        <p class="fs-5 text-center" style="font-weight: 500;">Pemanfaatan Data Survey Kesehatan Indonesia (SKI) 2023 untuk Rekomendasi Kebijakan Menuju Indonesia Emas 2045
        </p>
    </section>
    <section id="2" class="my-5">
        <h2 class="text-center color-kemkes">Latar Belakang</h2>
        <hr class="hr-kemkes">
        <p>Proin leo justo, ultricies sed augue lacinia, mattis pharetra leo. Quisque non scelerisque purus, sed molestie
            tellus. Quisque feugiat nulla nibh, at imperdiet lectus ullamcorper quis.</p>
    </section>
    <section id="3" class="my-5">
        <h2 class="text-center color-kemkes">Dasar Hukum</h2>
        <hr class="hr-kemkes">
        <p>Mauris fringilla lorem vitae tincidunt vehicula. Sed dui enim, facilisis in ultrices vitae, eleifend quis quam.
            Maecenas vel arcu nunc. In porttitor augue a tristique porta.</p>
    </section>
    <section id="4" class="my-5">
        <h2 class="text-center color-kemkes">Tujuan Umum</h2>
        <hr class="hr-kemkes">
        <p>Nunc ullamcorper malesuada risus at dapibus. Vestibulum mattis nulla purus, nec efficitur lacus sollicitudin vel.
            Nulla id aliquet lacus. </p>
    </section>
</div>
{% endblock %}