{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Kontak{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Informasi Lebih Lanjut</h1>
    <div class="mt-4">
        Badan Kebijakan Pembangunan Kesehatan (BKPK)<br>
        Kementerian Kesehatan RI<br>
    </div>
    <dl class="my-5">
        <!-- <dt>Alamat</dt>
        <dd>Jl. Percetakan Negara 29/23, Jakarta Pusat</dd>

        <dt>Telepon</dt>
        <dd>(021) 4261088</dd> -->

        <dt>Situs web</dt>
        <dd><a class="color-kemkes" href="https://www.badankebijakan.kemkes.go.id/" target="_blank">
            www.badankebijakan.kemkes.go.id
        </a></dd>

        <dt>Email</dt>
        <dd><a href="mailto:SiBijaKsAwards@gmail.com">SiBijaKsAwards@gmail.com</a></dd>
    </dl>
</div>
{% endblock %}