{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Submisi{% endblock %}

{% block head_bl %}
<style>
    .div-table {
        overflow-x: auto;
    }
</style>
{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Naskah Masuk</h1>
    {% if request.user.is_staff %}
    <div id="div-stats" hx-get="{% url 'hp_awards:hx_get_stats' %}" hx-trigger="load">
    </div>
    {% if request.user.username != 'kabadan' %}
    <div class="d-flex justify-content-start flex-wrap">
        <form class="m-3" method="POST" action="{% url 'hp_awards:unduh_nilai_abstrak' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-kemkes">Unduh Rekap</button>
        </form>
    </div>
    {% endif %}
    {% endif %}

    {% if submisis and request.user.username != 'kabadan' %}
    <h3 class="mt-5">Naskah Masuk dan Diproses</h3>
    <div class="mb-5 div-table">
        <table id="datatable" class="table">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Nama Penulis Utama</th>
                    <th>Kategori</th>
                    <th>Individu/Tim</th>
                    <th>Tanggal Submisi</th>
                    <th>Status</th>
                    <th>Jumlah Reviewer</th>
                    <th>Nilai</th>
                    <th>Reviewer Sudah Menilai Semua</th>
                    <th>Naskah PB</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                {% for submisi in submisis %}
                <tr>
                    <td><a href="{% url 'hp_awards:detail_submisi' submisi.kode_submisi %}" class="color-kemkes">{{ submisi.judul_pb }}</a></td>
                    <td>{{ submisi.nama }}</td>
                    <!-- <td>{{ submisi.afiliasi }}</td>
                    <td>{{ submisi.get_pendidikan_display }}</td> -->
                    <td>{{ submisi.get_kategori_pendaftar_display }}</td>
                    <td>{% if submisi.kolaborators.exists %}Tim{% else %}Individu{% endif %}</td>
                    <td>{{ submisi.created_at|date:'Y-m-d' }}</td>
                    <td>{{ submisi.get_status_display }}</td>
                    <td>{{ submisi.reviewers.count }}</td>
                    <td>{{ submisi.rerata_skor_abstrak|floatformat:'2u'|default:'-' }}</td>
                    <td>{% if submisi.reviewers.count == submisi.reviewer_menilai and submisi.reviewers.count > 0 %}Ya{% else %}Belum{% endif %}</td>
                    <td>{% if submisi.file_pb_pdf or submisi.file_pb_doc %}Ada{% else %}Belum{% endif %}</td>
                    <td>
                        <a class="btn btn-kemkes btn-sm" href="{% url 'hp_awards:detail_submisi' submisi.kode_submisi %}">Lihat</a>
                        {% comment %}
                        <a class="btn btn-kemkes btn-sm" href="{% url 'hp_awards:edit_submisi' submisi.kode_submisi %}">Edit</a>
                        {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <tfoot>
                <tr>
                    <th>Judul</th>
                    <th>Nama Penulis Utama</th>
                    <th>Kategori</th>
                    <th>Tanggal Submisi</th>
                    <th>Status</th>
                    <th>Jumlah Reviewer</th>
                    <th>Reviewer Sudah Menilai</th>
                    <th>Nilai</th>
                    <th>Reviewer Sudah Menilai Semua</th>
                    <th>Tindakan</th>
                </tr>
            </tfoot> -->
        </table>
    </div>
    {% else %}
    -
    {% endif %}
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    $('#datatable').DataTable({
        pageLength: 50,
        // lengthMenu: [100, 50, 25, 10],
        order: [],
        searching: true,
        language: {
            url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/id.json',
        },
        paging: true,
        "columnDefs": [
            {
                "orderable": false,
                "targets": -1 // -1 refers to the last column
            }
        ],
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    let column = this;
                    let title = column.footer().textContent;

                    // Create input element
                    let input = document.createElement('input');
                    input.placeholder = title;
                    column.footer().replaceChildren(input);

                    // Event listener for user input
                    input.addEventListener('keyup', () => {
                        if (column.search() !== this.value) {
                            column.search(input.value).draw();
                        }
                    });
                });
        }
    });
</script>
{% endblock %}