{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Submisi{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Naskah Ditugaskan</h1>
    <div class="p-3 m-3 bg-info-subtle text-info-emphasis">
        Mohon menyelesaikan penilaian paling lambat hari Minggu, 28 Juli pukul 23.59 WIB
    </div>
    <dl>
        <dt>Juri</dt>
        <dd>{{ reviewer.nama }}</dd>

        <dt>Jumlah naskah abstrak <span style="text-decoration: underline;">belum dinilai</span></dt>
        <dd>{{ todo_count }}</dd>
    </dl>

    {% if penilaians %}
    <div class="my-5">
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Kode Submisi</th>
                    <th>Judul</th>
                    <th>Status</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                {% for penilaian in penilaians %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'hp_awards:detail_submisi' penilaian.submisi.kode_submisi %}" class="color-kemkes">{{ penilaian.submisi.kode_submisi }}</a></td>
                    <td>{{ penilaian.submisi.judul_pb }}</td>
                    <td>{% if penilaian.nilai1 > 0 %}Nilai: {{ penilaian.nilai1 }}{% else %}Belum dinilai{% endif %}</td>
                    <td>
                        <a class="btn btn-kemkes btn-sm" href="{% url 'hp_awards:detail_submisi' penilaian.submisi.kode_submisi %}">
                            {% if penilaian.nilai1 > 0 %}Nilai Ulang{% else %}Lihat{% endif %}
                        </a>
                        {% comment %}
                        <a class="btn btn-kemkes btn-sm" href="{% url 'hp_awards:edit_submisi' penilaian.submisi.kode_submisi %}">Edit</a>
                        {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    Tidak ada submisi untuk dinilai
    {% endif %}
</div>
{% endblock %}