{% extends 'hp_awards/BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Submisi{% endblock %}

{% block body_bl %}
<div class="container my-5">
    {% bootstrap_messages %}
    {% if not request.user.is_authenticated %}
    <h1>Login Peserta</h1>
    <ul>
        <li>Ingin melakukan pendaftaran dan pengiriman abstrak? <a class="color-kemkes" href="{% url 'hp_awards:registrasi' %}">Klik di sini</a></li>
        <li>Anda juri atau panitia? Login <a class="color-kemkes" href="{% url 'hp_awards:login' %}">di sini</a></li>
    </ul>
    <form class="mt-5" method="POST" style="max-width: 640px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_wa" class="form-label">Nomor WA Pendaftar</label>
            <input required name="wa" type="text" class="form-control" id="id_wa">
            <!-- <div class="form-text">Penulis utama</div> -->
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Alamat Email Pendaftar</label>
            <input required name="email" type="email" class="form-control" id="id_email">
            <!-- <div class="form-text">Penulis utama</div> -->
        </div>
        {{ form_captcha }}
        <button type="submit" class="btn btn-kemkes mt-3">Login</button>
    </form>
    {% endif %}

    {% if submisis %}
    <h1>Naskah Terkirim</h1>
    {% if ada_lolos %}
    <div class="bg-success-subtle m-3 p-2">
        Terdapat naskah yang lolos ke tahap 2. Mohon cek tabel di bawah dan unggah naskah <i>policy brief</i> lengkap sebelum 3 September 2024 pukul 23:59 WIB.
    </div>
    {% else %}
    <div class="bg-info-subtle m-3 p-2">
        Mohon maaf, tidak ada naskah Bapak/Ibu yang lolos ke tahap 2.
    </div>
    {% endif %}
    <div class="my-5" style="overflow-x: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>No. Urut</th>
                    <th>Judul</th>
                    <th>Penulis Utama</th>
                    <th>Kategori</th>
                    <th>Tanggal Submisi</th>
                    <th>Status</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                {% for submisi in submisis %}
                <tr>
                    <td><code>{{ submisi.id }}</code></td>
                    <td><a href="{% url 'hp_awards:detail_submisi' submisi.kode_submisi %}" class="color-kemkes">{{ submisi.judul_pb }}</a></td>
                    <td>{{ submisi.nama }}</td>
                    <td>{{ submisi.get_kategori_pendaftar_display }}</td>
                    <td>{{ submisi.created_at|date:'d-m-Y' }}</td>
                    <td>{{ submisi.get_status_display }}</td>
                    <td>
                        <a class="btn btn-kemkes btn-sm" href="{% url 'hp_awards:detail_submisi' submisi.kode_submisi %}">Lihat</a>
                        {% comment %}
                        <a class="btn btn-kemkes btn-sm" href="{% url 'hp_awards:edit_submisi' submisi.kode_submisi %}">Edit</a>
                        {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}