{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Prinsip{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Prinsip</h1>
    Prinsip-prinsip pada pelaksanaan kompetisi ini adalah:
    <ol class="mt-3">
        <li>Kompetisi ini dilaksanakan secara objektif, transparan, dan akuntabel;
            <ol type="a">
                <li><b>Objektif</b> mengacu kepada proses penilaian dan penetapan predikat kompetisi yang dilaksanakan
                    secara imparsial, tidak diskriminatif, dan memenuhi standar penilaian yang ditetapkan;</li>
                <li><b>Transparan</b> mengacu kepada proses yang memberikan peluang kepada semua pemangku kepentingan
                    untuk
                    memperoleh akses informasi tentang penilaian dan penetapan predikat kompetisi pada semua tingkatan,
                    sebagai suatu sistem yang meliputi masukan, proses, dan hasil penilaian;</li>
                <li><b>Akuntabel</b> merupakan proses penilaian dan penetapan predikat kompetisi yang dapat
                    dipertanggungjawabkan kepada semua pemangku kepentingan.</li>
            </ol>
        </li>
        <li>Semua data dan dokumen pemenang kompetisi yang diserahkan kepada panitia tetap menjadi hak milik peserta,
            namun Kementerian Kesehatan dapat menggunakan ide penulis untuk dikembangkan dan digunakan dalam penyusunan
            kebijakan;</li>
        <li>Panitia berhak memberikan penilaian atas dokumen yang diserahkan, yang meliputi dokumen policy brief dan
            kegiatan presentasi;</li>
        <li>Keputusan panitia tentang hasil kompetisi adalah sah, bersifat mutlak dan tidak dapat diganggu gugat;</li>
        <li>Untuk pajak hadiah pemenang kompetisi ditanggung oleh pemenang;</li>
        <li>Peserta tidak dipungut biaya.</li>
    </ol>
</div>
{% endblock %}