{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Prinsip{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Prinsip Pelaksanaan Kompetisi</h1>
    Prinsip-prinsip pada pelaksanaan kompetisi ini adalah:
    <ol class="mt-3">
        <li>Kompetisi ini dilaksanakan secara objektif, transparan, dan akuntabel;</li>
        <li>Kementerian Kesehatan dapat menggunakan ide penulis untuk dikembangkan dan digunakan dalam penyusunan kebijakan;</li>
        <li>Keputusan panitia tentang hasil kompetisi adalah sah, bersifat mutlak dan tidak dapat diganggu gugat;</li>
        <li>Untuk pajak hadiah pemenang kompetisi ditanggung oleh pemenang;</li>
        <li>Peserta tidak dipungut biaya.</li>
    </ol>
</div>
{% endblock %}