{% extends 'hp_awards/BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Registrasi{% endblock %}

{% block head_bl %}
<style>
    .select2-selection--single {
        height: 100% !important;
    }

    .select2-selection__rendered{
        word-wrap: break-word !important;
        text-overflow: inherit !important;
        white-space: normal !important;
    }
</style>
{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1 id="oo">Pendaftaran Peserta</h1>
    <div class="fs-5 mt-4">Sebelum mendaftar, pastikan sudah membaca <a class="color-kemkes" href="{% static 'pdf/panduan.pdf' %}" target="_blank"><b>Buku Panduan</b></a></div>
    {% if form_has_errors %}<span class="color-red">Terdapat kesalahan pengisian form. Cek teks merah</span>{% endif %}
    {{ form.non_field_errors }}
    <form method="POST" class="my-3 form-kemkes" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="mt-5 mb-4">Pernyataan</h3>
        <b>Dengan ini saya menyatakan:</b>
        <div id="cb-pernyataan" class="mb-5">
            {% for pernyataan in pernyataans %}
            <div class="form-check my-3">
                <input onchange="cekPernyataan()" class="form-check-input pernyataan-input" required type="checkbox" value="" id="id_pernyataan_{{ pernyataan.pk }}">
                <label class="form-check-label" for="id_pernyataan_{{ pernyataan.pk }}">{{ pernyataan }}</label>
            </div>
            {% endfor %}
        </div>
        <div id="main-form">
            <h3 class="mt-5">Biodata dan Detail Submisi</h3>
            <table id="table-biodata" class="table table-borderless table-hover ms-3" style="max-width: 960px;">
                {{ form.as_table }}
            </table>

            <h3 class="mt-5">Kolaborator (Opsional)</h3>
            <div>Masukkan identitas kolaborator yang berpartisipasi bersama Anda (jika ada; <b>maks. 6 orang</b>)</div>
            <div class="px-3 pb-3 mb-5" style="max-width: 1024px;">
                <table class="mt-3 table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Nomor WA</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-collab">
                        <tr class="tr-collab">
                            <td><input type="text" class="form-control form-control-sm" name="kolab-nama" placeholder="Nama kolaborator"></td>
                            <td><input type="text" class="form-control form-control-sm" name="kolab-wa" placeholder="08XXXXXXX"></td>
                            <td><input type="email" class="form-control form-control-sm" name="kolab-email" placeholder="email@email.com"></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-sm btn-secondary" type="button" onclick="appendTr()">Tambah kolaborator lagi</button>
            </div>
            <span class="fs-5" style="color: red;">Submisi yang sudah diunggah <b>tidak dapat diubah</b>. Mohon cek kembali isian Anda sebelum melanjutkan</span>
            <div class="d-grid gap-2">
                <button class="mt-3 btn btn-kemkes" type="submit">Kirim Submisi</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block body_add_bl %}
<script>
    // Checkbox pernyataan harus dicentang semua
    // var allPernyataanChecked = true;
    // function cekPernyataan() {
    //     $(".pernyataan-input").each(function () {
    //         if (!$(this).is(":checked")) {
    //             allPernyataanChecked = false;
    //             return false; // Exit the each loop if a checkbox is not checked
    //         } else {
    //             allPernyataanChecked = true;
    //         }
    //     });
    //     if (allPernyataanChecked) {
    //         $("#main-form").show();
    //     } else {
    //         $("#main-form").hide();
    //     }
    // }
    function appendTr() {
        // Get the existing table body
        var tbody = $("#tbody-collab");

        // Clone the existing row (with ID) for new data
        var newRow = $(".tr-collab").first().clone();

        // Remove the ID from the cloned row (optional)
        // newRow.removeAttr("id");

        // Update cell content (optional)
        newRow.find("input[name='kolab-nama']").val(""); // Set name input to empty value
        newRow.find("input[name='kolab-wa']").val("");   // Set WA input to empty value
        newRow.find("input[name='kolab-email']").val(""); // Set email input to empty value

        // Append the new row to the tbody
        tbody.append(newRow);
    }

    $(document).ready(function () {
        // $("#main-form").hide();
        // cekPernyataan();

        // Percantik Django HTML form
        $(".form-kemkes").find("label").addClass("form-label");
        $(".form-kemkes").find("input[type='text'], input[type='email'], input[type='file'], textarea").addClass("form-control");
        $(".form-kemkes").find("select").addClass("form-select");
        $(".form-kemkes").find("br").remove();

        // NIK dan nomor WA hanya bisa diisi angka
        $("#id_nik").on("input keypress paste", function () {
            var val = $(this).val();
            $(this).val(val.replace(/[^0-9]/g, ""));
        });
        $("#id_wa").on("input keypress paste", function () {
            var val = $(this).val();
            $(this).val(val.replace(/[^0-9]/g, ""));
        });

        // Select2 untuk policy questions list
        $('#id_policy_question').select2();

        // Toggle Custom Policy question on Lainnya
        $('tr input[id="id_policy_question_custom"]').closest('tr').hide();
        if ($("#id_policy_question").val() === "1") {
            $('tr input[id="id_policy_question_custom"]').closest('tr').show();
        }
        $("#id_policy_question").change(function () {
            if ($(this).val() === "1") {
                $('tr input[id="id_policy_question_custom"]').closest('tr').show();
            } else {
                $('tr input[id="id_policy_question_custom"]').closest('tr').hide();
            }
        });

        // Toggle KTM, pendidikan, profesi based on kategori pendaftar
        $('tr input[id="id_ktm"]').closest('tr').hide();
        $('tr input[id="id_pekerjaan"]').closest('tr').hide();
        var kategoriPendaftar = $("#id_kategori_pendaftar").val();
        if (kategoriPendaftar === "mhs" || kategoriPendaftar === "mhs2") {
            $('tr input[id="id_ktm"]').closest('tr').show();
            $('tr select[id="id_pendidikan"]').closest('tr').hide();
            $('tr input[id="id_pekerjaan"]').closest('tr').hide();
        }
        $("#id_kategori_pendaftar").change(function () {
            kategoriPendaftar = $(this).val();
            if (kategoriPendaftar === "mhs" || kategoriPendaftar === "mhs2") {
                $('tr input[id="id_ktm"]').closest('tr').show();
                $('tr select[id="id_pendidikan"]').closest('tr').hide();
                $('tr input[id="id_pekerjaan"]').closest('tr').hide();
            } else {
                $('tr input[id="id_ktm"]').closest('tr').hide();
                $('tr select[id="id_pendidikan"]').closest('tr').show();
                $('tr input[id="id_pekerjaan"]').closest('tr').show();
            }
        });

        // gunakan select2 pada policy questions
        $('#id_policy_question').select2({width: '100%'});

        // Summernote
        $('#id_abstrak_pb').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                // ['fontsize', ['fontsize']],
                // ['color', ['color']],
                // ['para', ['ul', 'ol', 'paragraph']],
                // ['height', ['height']]
            ],
            callbacks: {
                onChange: function (contents, $editable) {
                    var wordCount = contents.split(/\s+/).length;
                    $("#id_abstrak_pb_helptext").text(wordCount + " / 250 kata");

                    if (wordCount > maxWords) {
                        // Remove extra words
                        var trimmedText = contents.split(/\s+/, maxWords).join(" ");
                        $('#id_abstrak_pb').summernote('reset');
                        $('#id_abstrak_pb').summernote('pasteHTML', trimmedText);
                        // $(this).val(trimmedText);
                        // $("#wordCount").text(maxWords + " words (limit reached)");
                    }
                }
            }
        });

        // Hitung jumlah karakter per maks karakter pada textarea abstrak PB
        var maxWords = 251;
        $("#id_abstrak_pb").keyup(function () {
            var wordCount = $(this).val().split(/\s+/).length;
            $("#id_abstrak_pb_helptext").text(wordCount + " / 250 kata");

            if (wordCount > maxWords) {
                // Remove extra words
                var trimmedText = $(this).val().split(/\s+/, maxWords).join(" ");
                $(this).val(trimmedText);
                // $("#wordCount").text(maxWords + " words (limit reached)");
            }
        });
    });
</script>
{% endblock %}