{% extends 'hp_awards/BASE.html' %}
{% load static django_bootstrap5 %}

{% block title_bl %}Registrasi{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <p class="fs-3">Registrasi sukses</p>
    <p class="fs-5">Gunakan nomor WA dan email Anda untuk melihat status submisi</p>
    <ul>
        <li>Email Anda: {{ wa }}</li>
        <li>No WA Anda: {{ email }}</li>
    </ul>
    <p><a href="{% url 'hp_awards:list_submisi' %}" class="color-kemkes">Lihat status submisi</a></p>
</div>
{% endblock %}