{% extends 'hp_awards/BASE.html' %}
{% load static %}

{% block title_bl %}Tentang Kompetisi{% endblock %}

{% block body_bl %}
<div class="container my-5">
    <h1>Tentang Kompetisi</h1>
    <div class="my-4">SiBijaKs (Rekomendasi Kebijakan Kesehatan) Awards 2024 adalah kompetisi penulisan rekomendasi kebijakan
        kesehatan dengan data Survei Kesehatan Indonesia (SKI) tahun 2023 sebagai sumber data utama. Bentuk rekomendasi
        kebijakan dalam kompetisi ini berupa Risalah Kebijakan (Policy brief). Policy brief adalah tulisan ilmiah yang
        ringkas dan berfokus pada isu kebijakan tertentu serta menawarkan alternatif solusi atas permasalahan kebijakan
        yang membutuhkan perhatian cepat dari pembuat kebijakan.</div>
    <div>Tema SiBijaKs Awards 2024 adalah "Pemanfaatan Data SKI 2023 untuk Rekomendasi Kebijakan Kesehatan menuju
        Indonesia Emas 2045"</div>
</div>
{% endblock %}